<div class="container-fluid">
  <div class="row">
    <div class="col-1 me-0 pe-0"></div>
    <div class="col-10 ms-0 p-0">
      <div class="row">
        <h2 class="p-3 text-center">DANH SÁCH PHIM CÓ DOANH THU CAO NHẤT</h2>
      </div>
      <div class="row mb-1 mt-1">
        <div class="col-2 p-0">
          <button class="button btnBlue blueBorder ms-0 ps-0" style="width: 145px; height: 35px"
                  (click)="displayChangeTemplate()">{{btnView}}</button>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2 pe-0 me-0">
          <div class="form-group" style="width: 100%" [formGroup]="timeGroup">
            <select class="form-select-sm" id="time" formControlName="time" (change)="find()" style="width: 100%">
              <option [value]="0">Chọn thời gian</option>
              <option [value]="1">1 tháng</option>
              <option [value]="3">3 tháng</option>
              <option [value]="6">6 tháng</option>
              <option [value]="12">1 năm</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row table-responsive" *ngIf="action">
        <table class="table table-sm ">
          <thead class="text-center bg bg-warning">
          <tr>
            <th width="10%">STT</th>
            <th width="50%">Tên phim</th>
            <th width="10%">Vé đã bán</th>
            <th width="30%">Doanh thu</th>
          </tr>
          </thead>
          <tbody class='bg-light'>
          <tr *ngFor="let item of (listMovieTop$ | async); index as i">
            <td class='text-center'> {{i + 1}} </td>
            <td style='padding-left: 25px'>{{item.name}}</td>
            <td style='padding-left: 25px'>{{item.countTicket}}</td>
            <td style='padding-left: 25px'>{{item.turnover| number}} VND</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row chart-container-fluid" [hidden]="hiddenChart">
        <div id="chart" style="background-color: white; color: black">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
<!--        <canvas id="myChart" class="bg-light">{{chart}}</canvas>-->
      </div>
    </div>
    <div class="col-1 ms-0 ps-0"></div>
  </div>
</div>
