@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  box-sizing: border-box
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("https://media.tourisme-cambresis.fr/84967554-105897.jpg");
  background-size: cover;
  position: relative;
  opacity: 0.9;
  background-size: cover;
}

h2, label {
  color: black;
  padding: 4px;
}

input[type=text], input[type=password], input[type=date], input[type=number], input[type=email] {
  width: 100%;
  padding: 10px;
  margin: 3px 0 8px 0;
  display: inline-block;
  border: none;
  /*resize: vertical;*/
  border-radius: 8px;
  border: 0;
  box-shadow: 4px 4px 10px lightblue;
  height: 35px;
  outline: none;
}
/*input[type=file] {*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  margin: 12px 0;*/
/*  display: inline-block;*/
/*  border: 0;*/
/*  border-radius: 10px;*/
/*  box-sizing: border-box;*/
/*  box-shadow: 4px 4px 10px lightblue;*/
/*  outline: none;*/
/*  height: 50px;*/
/*}*/

textarea{
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px lightblue;
  outline: none;
  height: 60px;
}

input[type=text]:focus, input[type=textarea]:focus {
  outline: none;
}

form {
  max-width: 500px;
  margin: auto;
  border: none;
  /*border-radius: 7px;*/
  padding: 40px;
  background-color: #f2f2f2;
  box-shadow: 0 8px 15px lightblue;
  margin-bottom: 20px;
}

span {
  color: red;
}

#head{
  max-width: 500px;
  margin: auto;
  background-color: #FDA50F;
  height: 60px;
}

/*.button {*/
/*  width: 110px;*/
/*  height: 45px;*/
/*  font-family: "Times New Roman", sans-serif;*/
/*  font-size: 12px;*/
/*  text-transform: uppercase;*/
/*  letter-spacing: 2.5px;*/
/*  font-weight: 500;*/
/*  color: #000;*/
/*  background-color: #fff;*/
/*  border: none;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);*/
/*  transition: all 0.3s ease 0s;*/
/*  cursor: pointer;*/
/*  outline: none;*/
/*}*/
a{
  text-decoration: none;
  color: black;
}

.uploadpreview{
  width:150px;
  height:100px;
  display:block;
  border:1px solid #ccc;
  margin:0 auto 15px;
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position:center;
}

.upload{
  float:left;
  width:200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", sans-serif;

}


