<title>Quản lý phim | Sửa</title>

<body>
<div class="mt-3" id="head"><h1 class="text-light">CHỈNH SỬA PHIM</h1></div>
<form [formGroup]="formEditMovie" >
  <div class="row">
    <div class="col-lg-6">
      <label for="filmName"><b>Tên Phim</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.name.hasError('required') &&
              formEditMovie.controls.name.pristine">Vui lòng nhập tên phim!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.name.hasError('maxlength') &&
              formEditMovie.controls.name.pristine">Tên phim không được vượt quá 50 kí tự!</span>
      </label>
      <input formControlName="name" type="text" id="filmName">
    </div>
    <div class="col-lg-6">
      <label for="actor"><b>Diễn Viên</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.actor.hasError('required') &&
              formEditMovie.controls.actor.pristine">Vui lòng nhập tên diễn viên!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.actor.hasError('maxlength') &&
              formEditMovie.controls.actor.pristine">Tên diễn viên không được vượt quá 40 kí tự!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.actor.hasError('pattern') &&
              formEditMovie.controls.actor.pristine">Viết hoa chữ cái đầu, khác ký tự đặc biệt!</span>
      </label>
      <input formControlName="actor" type="text" id="actor">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label for="filmProducer"><b>Hãng Phim</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.filmStudio.hasError('required') &&
              formEditMovie.controls.filmStudio.pristine">Vui lòng nhập hãng phim!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.filmStudio.hasError('maxlength') &&
              formEditMovie.controls.filmStudio.pristine">Hãng phim không được vượt quá 40 kí tự!</span>
      </label>
      <input formControlName="filmStudio" type="text" id="filmProducer">
    </div>
    <div class="col-lg-6">
      <label for="filmTime"><b>Thời Lượng</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.filmTime.hasError('required') &&
              formEditMovie.controls.filmTime.pristine">Vui lòng nhập thời lượng phim!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.filmTime.hasError('max') &&
              (formEditMovie.controls.filmTime.pristine)">Thời lượng phim không quá 120 phút!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.filmTime.hasError('pattern') &&
              formEditMovie.controls.filmTime.pristine">Vui lòng nhập số!</span>
      </label>
      <input formControlName="filmTime" type="text" id="filmTime">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <label for="director"><b>Đạo Diễn</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.director.hasError('required') &&
              formEditMovie.controls.director.pristine">Vui lòng nhập tên đạo diễn!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.director.hasError('maxlength') &&
              formEditMovie.controls.director.pristine">Tên đạo diễn không được vượt quá 40 kí tự!</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.director.hasError('pattern') &&
              formEditMovie.controls.director.pristine">Viết hoa chữ cái đầu, khác ký tự đặc biệt!</span>
      </label>
      <input formControlName="director" type="text" id="director">
    </div>
    <div class="col-lg-6">
      <label for="filmTrailer"><b>Trailer</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3" *ngIf="formEditMovie.controls.trailer.hasError('required') &&
              formEditMovie.controls.trailer.pristine">Vui lòng nhập trailer!</span>
      </label>
      <input formControlName="trailer" type="text" id="filmTrailer">
    </div>
  </div>

  <div class="row" formGroupName="dateGroup">
    <div class="col-lg-6">
      <label for="startDay"><b>Từ</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3"
              *ngIf="formEditMovie.get('dateGroup').hasError('invalidStartDate', 'startDay')
             && formEditMovie.get('dateGroup').get('startDay').pristine">Ngày phải lớn hơn hoặc bằng ngày hiện tại</span>
      </label>
      <input type="date" id="startDay" class="form-control" formControlName="startDay" [min]="curDate"/>
    </div>

    <div class="col-lg-6">
      <label for="endDay"><b>Đến</b><span>*</span>
        <span style="color: red; font-size: 12px" class="ps-3"
              *ngIf="formEditMovie.controls.dateGroup.hasError('invalidEndDate')
         && formEditMovie.get('dateGroup').get('endDay').pristine">Ngày phải lớn hơn thời gian bắt đầu!</span>
      </label>
      <input type="date" id="endDay" class="form-control" formControlName="endDay" [min]="curDate"/>
    </div>
  </div>

  <div formGroupName="showTimeDto">
    <div class="row">
      <div class="col-lg-6">
        <label for="filmRoom"><b>Phòng Chiếu</b><span>*</span>
          <span style="color: red; font-size: 12px" class="ps-3"
                *ngIf="formEditMovie.get('showTimeDto').get('room').hasError('required')
             && formEditMovie.get('showTimeDto').get('room').pristine">Vui lòng chọn phòng chiếu</span>
        </label>
        <select (click)="getInfo()" [compareWith]="compareWithId" formControlName="room" id="filmRoom" class="form-select">
          <option value="null">Chọn phòng chiếu</option>
          <option *ngFor="let room1 of roomList" [ngValue]="room1">{{room1.name}}</option>
        </select>
      </div>
      <div class="col-lg-6">
        <label><b>Giờ Chiếu</b><span>*</span>
          <span style="color: red; font-size: 12px" class="ps-3"
                *ngIf="formEditMovie.get('showTimeDto').get('times').hasError('required')
             && formEditMovie.get('showTimeDto').get('times').pristine">Vui lòng chọn giờ chiếu</span>
        </label>
        <select formControlName="times" [compareWith]="compareWithId" id="time" style="border-radius: 5px" class="form-select">
          <option value="null">Chọn giờ chiếu</option>
          <option *ngFor="let time of timeList" [ngValue]="time">{{time.startTime}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label for="director" class="mb-1"><b>Phiên Bản</b><span>*</span>
        <!--        <span style="color: red; font-size: 12px" class="ps-3"-->
        <!--              *ngIf="formEditMovie.get('version').hasError('required')-->
        <!--             && formEditMovie.get('version').dirty">Vui lòng chọn phiên bản</span>-->
      </label>
      <div class="form-check form-check-inline">
        <input formControlName="version" [value]="1" name="version" type="radio" id="filmType2d"/>
        <label class="form-check-label" for="filmType2d">
          2D
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="version" [value]="2" name="version" type="radio" id="filmType3d"/>
        <label class="form-check-label" for="filmType3d">
          3D
        </label>
      </div>
    </div>
    <div class="col-lg-6">
      <label  for="filmImg" class="mb-1"><b>Hình Ảnh</b><span>*</span>
        <!--        <span style="color: red; font-size: 12px" class="ps-3"-->
        <!--              *ngIf="formEditMovie.get('image').hasError('required')-->
        <!--             && formEditMovie.get('image').dirty">Vui lòng chọn hình ảnh</span>-->
      </label>
      <input type="file" id="filmImg" (change)="showPreview($event)" [src]="imgUrl">
      <img width="130px" height="95px" [src]="imgUrl" alt="invalid">
    </div>

  </div>
  <div class="row">
    <label><b>Thể Loại</b><span>*</span>
      <!--      <span style="color: red; font-size: 12px" class="ps-3"-->
      <!--            *ngIf="formEditMovie.get('movieTypeDto').hasError('required')-->
      <!--             && formEditMovie.get('movieTypeDto').dirty">Vui lòng chọn thể loại</span>-->
    </label>
    <div class="col-12">
      <div class="row" formArrayName="movieTypeDto">
        <div class="col-lg-3" *ngFor="let fType of (movieTypeList$ | async) ; index as i">
          <label class="form-check-label" for="{{i}}">
            <input type="checkbox" id="{{i}}" (change)="onCheckboxChange(fType, $event)">
            {{fType.name}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <label for="filmContent"><b>Nội Dung</b></label>
    <textarea formControlName="content" id="filmContent"></textarea>
  </div>
  <div class="row text-center wrapCss">
    <button class="button btnGreen mx-2" (click)="editMovie()">Lưu</button>
    <button class="button btnYellow mx-2" routerLink="/movie/list">Quay lại</button>
  </div>
</form>
</body>
