<div class="row mt-3">
  <h1 class="text-light" style="text-align: center">KHUYẾN MÃI</h1>
</div>
<h3 *ngIf="!content" class="text-danger text-center mt-5">Khuyến mãi này không tồn tại!</h3>
<div class="container-fluid" *ngIf="content">
  <div class="row mx-4">
    <div>
      <div class="m-3 ms-5" >
        <h2>{{promotion.name}}</h2>
        <p style="font-weight: bolder; margin-bottom: 20px; margin-top: 20px">Thời gian:
          Từ {{promotion.startTime|date:'dd/MM/yyyy'}} đến ngày {{promotion.endTime|date:'dd/MM/yyyy'}}</p>
        <div class="text-center">
          <img src="{{promotion.image}}"
               width="900px" height="500px">
        </div>
        <p class="mt-3">{{promotion.detail}}</p>
        <h4 style="margin-top: 10px">Chương Trình giảm giá:</h4><span>Giảm {{promotion.discount}}% / vé</span>
        <p>
          - Mỗi khách hàng chỉ đươc áp dụng tối đa 1 lần/tuần.
        </p>
      </div>
      <div class="m-3 mt-5 ms-5">
        <h4>KHUYẾN MÃI KHÁC</h4>
        <hr style="width: 15%; font-weight: bolder; margin-top: 0">
      </div>
      <div class="row ms-5">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let pro of promotionList">
          <ul>
            <li class="booking-card"
                style="background-image: url({{pro.image}})">
              <div class="book-container">
                <div class="content text-center wrapCss">
                  <button type="submit" class="button btnBlue" routerLink="/detailPr/{{pro.id}}">Xem chi tiết</button>
                </div>
              </div>
              <div class="informations-container">
                <h2 class="title text-light">{{pro.name}}</h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="content text-center wrapCss mt-3 mb-4">
        <button type="submit" style="color:black;" class="button btnBlue btn-center blueBorder" routerLink="">Xem thêm</button>
      </div>
    </div>
  </div>
</div>
