<div class="row mt-4">
  <div class="col-lg-2"></div>
  <div class="row mb-5 mt-3" style="background: orange;height: 3px"></div>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-12">
      <nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 400px">
        <div class="container-fluid" id="nav">
          <div class="collapse navbar-collapse" id="wrapper">
            <ul class="ul" id="main-menu">
              <li>
                <h4 class="text-light" routerLink="/moviePlay">Phim đang
                  chiếu</h4>
              </li>
              <li>
                <h4 class="text-light" routerLink="/moviePremiere">Phim sắp
                  chiếu </h4>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </div>
    <div class="col-lg-4 col-md-8 col-10 pe-3">
      <div class="header__search">
        <div class="header__search-input-wrap">
          <input type="text" class="header__search-input" placeholder="Tìm kiếm phim ..." [(ngModel)]="movieNameSearch">
        </div>
        <button class="header__search-btn" (click)="paginate(movieNameSearch,pageSize)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row ul">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-md-12 col-ms-12">
    <div class="mb-5 mt-5" *ngIf="!action" style="color: orange;text-align: center">
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h1>Phim đang cập nhật. Vui lòng chọn phim khác !</h1>
    </div>
    <div class="row" *ngIf="action">
      <div class="col-lg-4 col-md-6 col-ms-12" *ngFor="let item of (movieList$ |async)">
        <div class="booking-card1"
             style=" background-image: url({{item.image}})">
          <div class="book-container">
            <div class="content">
              <button class="button btnBlue blueBorder mx-1" routerLink="/detail/{{item.id}}">XEM CHI TIẾT</button>
              <button class="button btnRed redBorder" (click)="goToBookingTicket()">ĐẶT VÉ</button>
            </div>
          </div>
          <div class="informations-container">
            <h2 class="title">{{item.name}}</h2>
            <div class="more-information">
              <div class="info-and-date-container">
                <div class="box info">
                  <p>THỜI GIAN PHIM</p>
                  <p>{{item.filmTime}}</p>
                </div>
                <div class="box date" style="color: #0a4870">
                  <p>NGÀY CÔNG CHIẾU</p>
                  <p>{{item.showTimeDate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row" style="background-color: black">
  <div style="margin-left: 700px">
    <button *ngIf="pageSize < (total$ | async)&&action"  class="button btnBlue blueBorder"(click)="nextPage()">XEM THÊM</button>
  </div>
</div>
